html, body, #root {
    height: 100%;
}

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    margin: 0;
    color: #fff;
    background-color: #222;
    text-align: center;
}

a {
    color: #4C88FF;
}

a:hover {
    color: #A852FF;
}
